body{
    background:#E6EEF6;
  }
  .wrap{
    margin-left:20px;
  }
  .box{
    width:15%;
    height:200px;
    float:left;
    background-color:white; 
    margin:15px 10px;
    border-radius:5px;
  }
  .box h3{
    font-family: 'Didact Gothic', sans-serif;
    font-weight:normal;
    text-align:center;
    padding-top:60px;
    color:#fff;
  }
  .box1{
    background-color: #eb9ed0;
  }
  .box2{
    background-color: #EDE89A;
  }
  .box3{
    background-color: #9EEBA1;
  }
  .box4{
    background-color: #9EEBBF;
  }
  .box5{
    background-color: #9ED9EB;
  }
  .box6{
    background-color: #9EB3EB;
  }
  .box7{
    background-color: #DB9EEB;
  }
  .box8{
    background-color: #C49EEB;
  }
  .shadow1, .shadow2, .shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
    position:relative;
  }
  .shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  }
  .shadow1 h3, .shadow2 h3, .shadow3 h3, .shadow4 h3, .shadow5 h3, .shadow6 h3, .shadow7 h3, .shadow8 h3{
    width:87%;
    height:100px;
    margin-left:6%;
    border:2px dashed #F7EEEE;
    border-radius:5px;
  }